.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #878383;
  opacity: 0.9;
  margin: 0 10px;
}

.swiper-pagination-bullet-active {
  background-color: #161fc9;
}

.swiper-slide {
  transition: transform 0.3s ease;
}

.swiper-slide:hover {
  transform: scale(1.05);
}

.swiper-slide .rounded-2xl {
  background-color: #f8f9fa;
}

.swiper-slide .rounded-tr-3xl {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.swiper-slide .text-gray-800 {
  color: #333;
}

.swiper-slide .text-gray-700 {
  color: #4a5568;
}

@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 3s ease infinite;
}
